modules = ["nodejs-20", "ruby-3.2", "swift-5.8", "c-clang14"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true
integrations = ["javascript_log_in_with_replit:1.0.0", "javascript_openai:1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 43159
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Expo App"

[[workflows.workflow]]
name = "Expo App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0 npx expo start --web --port 5000 --lan"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
